/* Variables */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #fff;
  color: #fff;
  font-size: 16px;
  line-height: 1.7;
}

.section {
  padding: 108px auto;
}

/* navbar */
.navigation {
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 30px;
  background-color: transparent;
  text-align: right;
  padding: 50px 100px 0 0;
  z-index: 1;
}

.navigation p {
  position: absolute;
  top: 15px;
  left: 100px;
  font-size: 22px;
  font-weight: 400;
  color: #fac02e;
}

.navigation p span {
  color: #fff;
}

.navigation a {
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", arial, sans-serif;
  text-decoration: none;
  padding: 0 25px;
  transition: all 0.6s;
  transform: scale(1);
}

.navigation a:hover {
  color: #fac02e;
  transform: scale(1.5);
}

.navigation i {
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.6s;
  transform: scale(1);
}

.navigation i:hover {
  color: #fac02e;
  transform: scale(1.5);
}

/* splash */
.splash {
  height: 45vh;
  width: 100%;
  position: relative;
  background-image: url("https://images.pexels.com/photos/5973908/pexels-photo-5973908.jpeg?cs=srgb&dl=pexels-ono-kosuki-5973908.jpg&fm=jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-inner .header-title {
  font-size: 56px;
  line-height: 56px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "roboto", arial, sans-serif;
  font-weight: 500;
  margin: 20px 0px;
}

.splash-inner .header-title span {
  font-weight: bold;
}

.splash-inner .header-subtitle {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.splash-inner .btn {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 12px 50px;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #fac02e;
  cursor: pointer;
  transition: all 0.6s;
}

/* services */
.services {
  margin-top: 5vh;
  color: #1d1d1d;
  height: 30vh;
}

.services .page-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "roboto", arial, sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

.services .page-subtitle {
  color: gray;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper .service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3333%;
  height: 300px;
}

.wrapper .service-box .box-subtitle {
  font-family: "roboto", arial, sans-serif;
  font-weight: 800;
  color: #1d1d1d;
  margin-bottom: 0;
}

.wrapper .service-box p {
  color: gray;
  line-height: 20px;
  font-weight: 300;
}

.wrapper i {
  font-size: 30px;
  line-height: 55px;
  height: 55px;
  width: 55px;
  color: #fac02e;
  border: 2px solid #fac02e;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */